<div class="signin">
    <section class="signin__content">
        <header class="signin__header">Sign in</header>
        <form class="signin__form">
            <div class="signin__error">Error message!</div>
            <div class="input">
                <input class="input__input" type="text" autocomplete="off" placeholder=" ">
                <label class="input__label">Email Address</label>
            </div>
            <div class="input">
                <input class="input__input" type="password" autocomplete="off" placeholder=" " #passwordInput>
                <label class="input__label">Password</label>
                <i class="fas fa-eye input__icon" #passwordEye (click)="passwordVisibleToggle(passwordInput, passwordEye)"></i>
            </div>
            <div class="signin__button-field">
                <input class="signin__button" type="submit" value="Sign in">
            </div>
            <div class="signin__link-area">Not yet signed up? <a href="#" class="signin__link">Signup now</a></div>
        </form>
    </section>
</div>

