<div class="chat">
    <section class="chat__area">
        <header class="chat__header">
            <a href="#" class="chat__back-link"><i class="fas fa-arrow-left"></i></a>
            <img class="chat__image" src="../../assets/image.png" alt="">
            <div class="chat__details">
                <span class="chat__name">User Name</span>
                <p class="chat__active">Active now</p>
            </div>
        </header>
        <div class="chat__box">
            <div class="chat__message-outgoing">
                <div class="chat__details">
                    <p class="chat__message">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="chat__message-incoming">
                <img class="chat__message-avatar" src="../../assets/image.png" alt="">
                <div class="chat__details">
                    <p class="chat__message">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
        <form action="" class="chat__typing-area">
            <input type="text" class="chat__input" placeholder="Type a message...">
            <button class="chat__button"><i class="far fa-paper-plane"></i></button>
        </form>
        
    </section>
</div>
