*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input {
  position: relative;
  width: 20rem;
  height: 3rem;
  .input__icon{
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: $user-offline;
  }
  .input__icon.active::before{
    color: #333;
    content: "\f070";
  }
  .input__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-fourth;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: $color-second;
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: $color-first;
    }

    &:focus {
      border-color: $color-first;
    }
  }

  .input__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: $color-black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $color-third;
  }
}

.input__input ~ .input__label,
.input__input:not(:placeholder-shown).input__input:not(:focus) ~ .input__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}