$border-seperator-color: #e6e6e6;
$alert-red-background: #FFD4DC;
$alert-red-color: #9C3A39;
$color-first: #1e90ff;
$color-white: #fff;
$color-black: #000;
$file-button-hover: #e1e5ee;
$form-button-hover: #454B51;
$font-family: 'Roboto', sans-serif;
$input-hover: #718093;
$user-active: #468669;
$user-offline: #cccccc;
$color-second: #353b48;