$border-seperator-color: #e6e6e6;
$alert-red-background: #FFD4DC;
$alert-red-color: #9C3A39;
$color-first: #353b40;
$color-white: #fff;
$file-button-hover: #e1e5ee;
$form-button-hover: #454B51;
$font-family: 'Roboto', sans-serif;
$input-hover: #718093;