$border-seperator-color: #353548;
$alert-red-background: #FFD4DC;
$alert-red-color: #9C3A39;
$color-first: #03ae46;
$color-third: #16162c;
$color-black: #f7f7f8;
$color-fourth: #94949e;
$form-button-hover: #454B51;
$font-family: 'Roboto', sans-serif;
$input-hover: #718093;
$user-active: #468669;
$user-offline: #cccccc;
$color-second: #353b48;