<div class="signup">
    <section class="signup__content">
        <header class="signup__header">Sign up</header>
        <form class="signup__form">
            <div class="signup__error">Error message!</div>
            <div class="signup__name-inputs">
                <div class="input">
                    <input class="input__input" type="text" autocomplete="off" placeholder=" ">
                    <label class="input__label">First Name</label>
                </div>
                <div class="input">
                    <input class="input__input" type="text" autocomplete="off" placeholder=" ">
                    <label class="input__label">Last Name</label>
                </div>
            </div>
            <div class="input">
                <input class="input__input" type="text" autocomplete="off" placeholder=" ">
                <label class="input__label">Email Address</label>
            </div>
            <div class="input">
                <input class="input__input" type="password" autocomplete="off" placeholder=" " #passwordInput>
                <label class="input__label">Password</label>
                <i class="fas fa-eye input__icon" #passwordEye (click)="passwordVisibleToggle(passwordInput, passwordEye)"></i>
            </div>
            <div class="signup__image-field">
                <label class="signup__image-label">Select Image</label><br>
                <input type="file" class="signup__image-button" hidden="hidden" #realButton (change)="customButtonChange(realButton, customText)">
                <button type="button" id="custom-button" (click)="customButtonClick(realButton)" #customButton><i class="fas fa-cloud"></i> choose file</button>
                <span id="custom-text" #customText>No file choosen</span>
            </div>
            <div class="signup__button-field">
                <input class="signup__button" type="submit" value="Sign up">
            </div>
            <div class="signup__link-area">Already signed up? <a href="#" class="signup__link">Login now</a></div>
        </form>
    </section>
</div>
